.Layout {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    grid-template-rows: 15% 80% 5%;
}

.Layout, .Layout > * {
    border: 1px solid black;
}

header, footer {
    grid-column: span 6;
}

main {
    grid-column: span 5;
}

.background {
    background-image: url("../../../Assets/Images/pat-kwon-EJTjetc8tPs-unsplash.jpg");
    position: relative;
}

.blueBackground {
    background-image: url("../../../Assets/Images/blue-backgroung.jpg");
    position: relative;
}

.layer {
    background-color: #3d322d;

}

.backgroundFooter{
    background-color:black;
}