.AuthMenu {
    display: flex;
    justify-content: right;
    top: 0px;
    right: 2px;
    height: 27px;
    width: 100%;
}
.backgroundColorTorkey{
    background-color: aqua;
    border: 1px solid black;
    display: inline;
}