html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    color: darkcyan;
    background-image: linear-gradient(45deg, 
     #35a9ac , #35a9ac , white);
}

a {
    color: blue;
}

.Box {
    display: inline-block;
    border: 1px solid black;
    border-radius: 1px;
    box-shadow:  5px 5px 10px;
}
